/* Guess */

.Guess div {
  padding: 2px;
}

.Guess-timer {
  font-weight: bold;
  padding: 1px;
  outline-style: dotted;
  outline-width: 2px;
  outline-color: #2ea44f;
  width: 10vw;
  position: relative;
  left: 43vw;
  margin: 4px;
}

.Album-cover {
  width: 15vw;
  height: 15vw;
  display: inline-block;
  outline-style: dashed;
  outline-width: 2px;
  outline-color: #2ea44f;
}

.Album-cover img {
  width: 100%;
}

.Album-cover-hidden {
  opacity: 0;
}

.Player {
  opacity: 0;
  height: 0px;
  width: 1px;
  position: fixed;
  z-index: -10;
  position: absolute;
}

.none {
  display: none;
}

.artist span, .track span{
  text-decoration: underline;
}

.answer span, .your-answer {
  color: #2ea44f;
}

.no-guess {
  color: rgb(205, 36, 36)
}

.answer span {
  font-weight: bold;
}

.answer {
  margin-bottom: 5px;
}